*{
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     text-align: center;
}
body{
     background-color:black;
     color: white;
     margin-top: 50px;
}
h1{
     margin: 30px 0px;
     font-size: 50px;
     font-family: 'Times New Roman', Times, serif;
}
nav{
     margin: auto;
}
nav a{
     display: inline-block;
     margin: 5px;
     width: 200px;
     color: white;
     text-decoration: none;
     background-color: burlywood;
     padding: 30px;
     border-radius: 10px;
     font-weight: 600;
     font-size: 30px;
     transition: 0.5s;
}
nav a:hover{
     color: black;
     background-color: darkgoldenrod;
}
#about{
     margin-bottom: 150px;
}
p{
     font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
     font-size: 50px;
     margin:100px;
     color: bisque;

}
h3{
     font-size: 40px;
     font-style: italic;
     margin-top: 40px;
     margin-bottom: 30px;
     padding: 10px;
     background-color: gray;
}
img{
     width: 400px;
     border-radius: 20px;
}
.project img:hover{

     opacity: 0.7;
}


.contact a{
     display:inline-block;
     background-color: blue;
     font-size: 1.8rem;
     color: burlywood;
     font-weight: 600;
     margin: 0 25px 25px 25px; /* ÜST - SAĞ - SOL - ALT */
     text-decoration: none;
     border-radius: 15px;
     transition: 0.5s;
     padding: 10px;
}
.contact a:hover{
     color: yellow;
}
h4{
     font-size: 34px;
}
input{
     display: block;
     border:3px solid red;
     padding: 10px;
     border-radius: 10px;
     font-size: 26px;
     background-color: bisque;
     color: darkorange;
}
.message{
     height: 150px;
     width: 19.5%;
}
button{
     height: 70px;
     width: 19.5%;
     border-radius: 15px;
     font-size: 26px;
     color: aqua;
     cursor: pointer;
     background-color: grey;
     font-weight: 700;
}
button:hover{
     color: blue;
     height: 70px;
}
.top{
     background-color: gray;
     border-radius: 15px;
     width: 25%;
     display: block;
     height: 70px;
     margin-top: 20px;
     position: absolute;
     right: 15px;
     transition: 1s;
}
.top:hover{
     padding: 25px;
     color: red;
}
button i{
     color: black;

}
button i:hover{
     color:red;
}
.form input{
     margin-left: 40.3%;
}